{% extends "header.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css_login %}
<link rel="stylesheet" href="{%  static 'login.css'  %}">
{% endblock css_login %}

{% block content %}      


<!--Login--> 

<div class="container py-5 body">
<div class="form">
  <h1>Login</h1>
  {% if messages %}
  {% for message in messages %}
<div class="alert {{ message.tags }} m-2" id="msg" role="alert">
  <p>{{ message }}</p>

</div>
{% endfor %}
{% endif %}
  <form method="POST">

    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
</div>
</div>
<script>
  setTimeout(function(){
    if ($('#msg').length > 0) {
      $('#msg').remove();
    }
  }, 2000)
</script> 

{% endblock %}